<!DOCTYPE html>
<html ng-app='tttApp'>
<head>
	<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/style.css">
	<script src="js/angular.min.js"></script>
	<script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
	<script src="js/main.js"></script>
	<script src="js/tttController.js"></script>
</head>

<body ng-controller = "TttController as game">	

	
<div class="container">
	<header>
		<h1>Tic Tac Toe</h1>
	</header>
	<br>
	<main>
	<div ng-show ="playerXwin" class="playerXwin"><p>x wins</p></div>
	<div ng-show ="playerYwin" class="playerOwin"><p>o wins</p></div>
	<div ng-show ="tieGame" class="itsatie"><p>it's a tie!</p></div>
   	<p>Pick a team:
   		<br>
   		<label>
   			<input 
   				ng-disabled="!game.isPlayerChosen()" 
   				type="radio" 
   				value="X" 
   				ng-model="playerX" />
   				<strong>X</strong>
		</label>
		<label>
			<input 
   				ng-disabled="!game.isPlayerChosen()"
				type="radio" 
				value="O" 
				ng-model="playerO" />
				<strong>O</strong>
		</label>
	</p>	
	players: {{player}} {{currentPlayer}}
	<h2 ng-show="currentPlayer == player">It's your turn</h2>	
	<h2 ng-show="currentPlayer != player">Wait your turn, please</h2>

		<table class="grid"><!--  ng-click="game.changeColor(square)" ng-class=" { yellow: game.isSet(game.xturn, square), blue: game.isSet(game.oturn, square) }"> -->
	      	<tr>
	      		<td ng-click="game.playGrid(0,0)">{{ game.gameBoard[0][0]}}</td>
	      		<td ng-click="game.playGrid(0,1)">{{ game.gameBoard[0][1]}}</td>
	      		<td ng-click="game.playGrid(0,2)">{{ game.gameBoard[0][2]}}</td>
	      	</tr>
	
            <tr>
	      		<td ng-click="game.playGrid(1,0)">{{ game.gameBoard[1][0] }}</td>
	      		<td ng-click="game.playGrid(1,1)">{{ game.gameBoard[1][1] }}</td>
	      		<td ng-click="game.playGrid(1,2)">{{ game.gameBoard[1][2] }}</td>
	      	</tr>
	      		
             <tr>
               	<td ng-click="game.playGrid(2,0)">{{ game.gameBoard[2][0] }}</td>
               	<td ng-click="game.playGrid(2,1)">{{ game.gameBoard[2][1] }}</td>
               	<td ng-click="game.playGrid(2,2)">{{ game.gameBoard[2][2] }}</td>
            </tr>
        </table>      
   		<button class="btn btn-play-again" ng-click="game.resetGame()">new game</button>
   	</main>
</div>
</body>	
</html>