<!DOCTYPE html>
<html ng-app='tttApp'>
<head>
	<link rel="stylesheet" href="style.css">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
	<script src="main.js"></script>
	<script src="tttController.js"></script>
</head>

	<body ng-controller = "TttController">	
	<h1>TIC TAC TOE</h1>
	<div class="left-container">	
		 <table class="gridstyle">
	      	<tr>
	      		<td ng-click="playGrid(0)">{{ gameBoard[0] }}</td>
	      		<td ng-click="playGrid(1)">{{ gameBoard[1] }}</td>
	      		<td ng-click="playGrid(2)">{{ gameBoard[2] }}</td>
	      	</tr>
	
            <tr>
	      		<td ng-click="playGrid(3)">{{ gameBoard[3] }}</td>
	      		<td ng-click="playGrid(4)">{{ gameBoard[4] }}</td>
	      		<td ng-click="playGrid(5)">{{ gameBoard[5] }}</td>
	      	</tr>
	      		
             <tr>
               	<td ng-click="playGrid(6)">{{ gameBoard[6] }}</td>
               	<td ng-click="playGrid(7)">{{ gameBoard[7] }}</td>
               	<td ng-click="playGrid(8)">{{ gameBoard[8] }}</td>
             </tr>
          </table>
    </div>	
	
	<div class="right-container">
		<form>
			<p>Welcome, player 1! Type your name below:</p>
			<br>
			<input type="text" name="fullname" ng-model="name1">
			<p>Welcome, player 2! Type your name below:</p>
			<br>
			<input type="text" name="fullname" ng-model="name2">
   		</form>
   	</div>


	<button ng-click="board.reset()">play again</button>
	</body>
</html>